:root {
  --black: #000000;
  --dark-purple: #5c2dd5;
  --purple: #7945ff;
  --red: #fd6687;
  --white: #ffffff;
  --yellow: #ffce67;

  --font-family: "Space Grotesk", serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  font-family: var(--font-family);
}

.filled {
  z-index: 2 !important;
}

.hidden {
  display: none !important;
}

.game-on {
  bottom: -730px;
  border-radius: 60px;
}

.red-turn {
  background-color: var(--red) !important;
}

.yellow-turn {
  background-color: var(--yellow) !important;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-color-turn-indicator {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  z-index: -20;
  background-color: var(--dark-purple);
}

.game-menu {
  width: 480px;
  height: 435px;
  background-color: var(--purple);
  z-index: 10;
  border-radius: 40px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.game-menu__logo {
  width: 52px;
  height: 52px;
  margin-top: 72px;
}

.game-menu-button {
  width: 400px;
  height: 72px;
  border-radius: 20px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-left: 18px;
  padding-right: 18px;
  transition: 0.2s;
}

.game-menu-button:hover {
  cursor: pointer;
  border-color: var(--dark-purple);
}

.game-menu-button__play-pvp {
  margin-top: 80px;
  background-color: var(--yellow);
}

.game-menu-button__game-rules {
  margin-top: 16px;
}

.game-screen {
  position: relative;

  width: 632px;
  height: 584px;

  padding: 16px;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: repeat(7, 72px);
  gap: 4px 16px;
}

.game-screen-board__front {
  position: absolute;
  z-index: 10;
}

.game-screen-board__cell {
  height: 72px;
  width: 72px;
  z-index: 20;
}

.game-screen-board__back {
  position: absolute;
  z-index: -1;
}

.game-cell__counter {
  z-index: 1;
}

.game-rules {
  width: 480px;
  height: 540px;
  position: relative;
  background-color: var(--white);
  border-radius: 40px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.game-rules__title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
}

.game-rules__second-title {
  margin-top: 32px;
  margin-bottom: 16px;
  color: var(--purple);
  font-weight: 700;
  font-size: 20px;
}

.game-rules__content {
  font-weight: 500;
  color: #00000099;
}

.game-rules__list {
  list-style: none;
  padding-left: 0;
  margin-left: 8px;
}

.game-rules__list-element {
  counter-increment: num;
  padding-left: 8px;
}

.game-rules__list-element::marker {
  content: counter(num);
  font-weight: 700;
  color: var(--black);
}

.game-rules__button {
  width: fit-content;
  background-color: #00000000;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.game-rules__button:hover {
  cursor: pointer;
}

#Oval-Copy-37,
#Oval-Copy-38 {
  transition: 0.2s;
}

.game-rules__button:hover #Oval-Copy-37,
.game-rules__button:hover #Oval-Copy-38 {
  fill: var(--dark-purple);
}
