:root {
  --black: #000000;
  --dark-purple: #5c2dd5;
  --purple: #7945ff;
  --red: #fd6687;
  --white: #ffffff;
  --yellow: #ffce67;

  --font-family: "Space Grotesk", serif;
}

html {
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  font-family: var(--font-family);
}

.filled {
  z-index: 2 !important;
}

.hidden {
  display: none !important;
}

.game-on {
  bottom: 0px;
  border-radius: 60px 60px 0 0;
  height: 220px !important;
}

.red-win {
  background-color: var(--red) !important;
}

.yellow-win {
  background-color: var(--yellow) !important;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-color-turn-indicator {
  position: absolute;
  height: 100vh;
  min-width: 100%;
  z-index: -20;
  background-color: var(--dark-purple);
}

.game-menu {
  width: 480px;
  height: 435px;
  background-color: var(--purple);
  z-index: 10;
  border-radius: 40px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.game-menu__logo {
  width: 52px;
  height: 52px;
  margin-top: 72px;
}

.game-menu-button {
  width: 400px;
  height: 72px;
  border-radius: 20px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-left: 18px;
  padding-right: 18px;
  transition: 0.2s;
}

.game-menu-button:hover {
  cursor: pointer;
  border-color: var(--dark-purple);
}

.game-menu-button__play-pvp {
  margin-top: 80px;
  background-color: var(--yellow);
}

.game-menu-button__game-rules {
  margin-top: 16px;
}

.game-screen {
  position: relative;

  width: 632px;
  height: 584px;

  padding: 16px;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: repeat(7, 72px);
  gap: 4px 16px;
}

.game-screen-board__front {
  position: absolute;
  z-index: 10;
}

.game-screen-board__cell {
  height: 72px;
  width: 72px;
  z-index: 20;
}

.game-screen-board__back {
  position: absolute;
  z-index: -1;
}

.game-cell__counter {
  z-index: 1;
}

.game-screen__buttons {
  position: absolute;
  top: -100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-screen__button {
  padding: 12px 20px;
  border-radius: 24px;
  border: none;
  background-color: var(--dark-purple);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  transition: 0.2s;
}

.game-screen__button:hover {
  cursor: pointer;
  background-color: var(--red);
}

.game-screen__logo {
  position: absolute;
  left: 45%;
}

.in-game-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-game-menu__card {
  width: 480px;
  height: 492px;
  padding: 52px 0 40px 0;
  border-radius: 40px;
  background-color: var(--purple);
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-game-menu__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: var(--white);
  margin-bottom: 12px;
}

.in-game-menu__button {
  margin-top: 20px;
  width: 400px;
  height: 80px;
  border-radius: 20px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
  transition: 0.2s;
}

.game-screen__player-wins {
  height: 172px;
  width: 140px;
  border-radius: 20px;
  background-color: var(--white);
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-one-wins {
  position: absolute;
  left: -200px;
  top: 168px;
}

.player-two-wins {
  position: absolute;
  right: -200px;
  top: 168px;
}

.game-screen__player-wins-image {
  margin-top: -28px;
}

.game-screen__player-wins-player {
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--black);
}

.game-screen__player-wins-count {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: var(--black);
}

.in-game-menu__button__quit {
  background-color: var(--red);
  color: var(--white);
}

.in-game-menu__button:hover {
  cursor: pointer;
  border-color: var(--dark-purple);
}

.game-screen__current-turn {
  position: absolute;
  z-index: 25;
  top: 540px;
  left: 220px;
  width: 198px;
  height: 164px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.red-turn {
  background-image: url(../assets/turn-background-red.svg);
}

.red-turn p {
  color: var(--white);
}

.yellow-turn {
  background-image: url(../assets/turn-background-yellow.svg);
}

.yellow-turn p {
  color: var(--black);
}

.game-screen__current-turn-player {
  font-weight: 700;
  color: var(--white);
}

.game-screen__current-turn-time {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: var(--white);
}

.player-won {
  position: absolute;
  z-index: 25;
  top: 540px;
  left: 176px;
  width: 284px;
  height: 184px;
  border-radius: 20px;
  background-color: var(--white);
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  text-align: center;
  padding: 16px;
}

.winning-player {
  font-weight: 700;
  color: var(--black);
}

.winning-state {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: var(--black);
}

.play-again-button {
  width: 132px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--dark-purple);
  color: var(--white);
  font-weight: 700;
  border: none;
  transition: 0.2s;
}

.play-again-button:hover {
  cursor: pointer;
  background-color: var(--red);
}

.game-rules {
  width: 480px;
  height: 540px;
  position: relative;
  background-color: var(--white);
  border-radius: 40px;
  border: solid var(--black) 3px;
  border-bottom: solid var(--black) 10px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.game-rules__title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
}

.game-rules__second-title {
  margin-top: 32px;
  margin-bottom: 16px;
  color: var(--purple);
  font-weight: 700;
  font-size: 20px;
}

.game-rules__content {
  font-weight: 500;
  color: #00000099;
}

.game-rules__list {
  list-style: none;
  padding-left: 0;
  margin-left: 8px;
}

.game-rules__list-element {
  counter-increment: num;
  padding-left: 8px;
}

.game-rules__list-element::marker {
  content: counter(num);
  font-weight: 700;
  color: var(--black);
}

.game-rules__button {
  width: fit-content;
  background-color: #00000000;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.game-rules__button:hover {
  cursor: pointer;
}

#Oval-Copy-37,
#Oval-Copy-38 {
  transition: 0.2s;
}

.game-rules__button:hover #Oval-Copy-37,
.game-rules__button:hover #Oval-Copy-38 {
  fill: var(--dark-purple);
}
